@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
/* no */

@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap'); 
/* dont like */

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bs-primary: #CBE7FE;
    --bs-primary-rgb: 203, 231, 254;
    --bs-secondary: #5175ED;
    --bs-secondary-rgb: 81, 117, 237;
    --bs-success: #CBE77E;
    --bs-success-rgb: 203, 231, 126;
    --bs-info: #fff3ef;
    --bs-info-rgb: 255, 243, 239;
}

body {
    min-width: 100vw !important;
    /* font-family: "Mitr", sans-serif; */
    font-family: "Libre Franklin", sans-serif;
    font-size: 16px;
    margin: 0;
    /* width: 100%; */
    height: 100vh !important;
    box-sizing: border-box;
}



h1, .h1 {
    color: #ffffff;
    font-size: clamp(1rem, calc(1rem + 2vw), 4rem);
    display: flex;
    flex-wrap: wrap;
    /* font-size: 3rem; */
    /* -webkit-text-stroke: 6px black; */
    margin-top: 0;
    margin-bottom: 0;
}

h1.home-title {
    /* -webkit-text-stroke: none !important; */
    z-index: 1;
}

/* .contact.h1 {
    font-size: clamp(1rem, calc(1rem + 2vw), 4rem);
} */

/* HOME BANNER */

* {
    position: relative;
    box-sizing: border-box;
}
  
  
#app {
    // opacity: 0 !important;
    // visibility: hidden;
    z-index: 100;
  
    /* &:hover {
      opacity: 0.5;
    } */
  }
  
  /* #app {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    width: 100%;
    background: #ede8e2;
    color: #3a3535;
    z-index: 1 !important;
  } */
  
  
  /* @import url("https://fonts.googleapis.com/css2?family=Prata&display=swap"); */
  
  /* .title {
    padding-right: 4em;
    grid-column: 1 / -1;
    grid-row: 1;
    font-size: 8vw;
    width: 100%;
    z-index: 2;
  
    // start
  
    > .title-inner {
      display: inline-block;
}
  } */
  
  /* @keyframes text-clip {
    from {
      clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
  
  @keyframes outer-left {
    from {
      transform: translateX(50%);
    }
    to {
      transform: none;
    }
  }
  
  @keyframes inner-left {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: none;
    }
  }
  
  .cafe,
  .mozart {
    animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
    // outline: 1px solid red;
}
  
  .title-inner {
    display: inline-block;
    animation: inner-left 1s 1s ease both;
  }
  
  .cafe-inner {
    display: inline-block;
    animation: inner-left 1s 1s ease both,
    text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
  }
  
  .mozart-inner {
    animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
  }
  
  .title {
    animation: outer-left 1s 1s ease both;
  }
  
.cafe > .cafe-inner {
    display: inline-block;
}

  
.mozart {
    display: inline-block;
}
  
.image {
    grid-row: 1;
    grid-column: 2;
    animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;
  
@keyframes image-in {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}
  
img {
    display: block;
    width: 100%;
    height: auto;
}
}
  
  body:active * {
    animation: none !important;
} */



.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    width: 100vw;
    /* padding-top: 2rem !important; */   
}

.home-banner {
    background-image: url("../images/hero-plain.png");
    background-size: contain !important;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
}

.btn.btn-primary {
    --bs-btn-bg: var(--bs-primary) !important;
    --bs-btn-border-color: none !important;
    --bs-btn-hover-bg: var(--bs-secondary) !important;
    --bs-btn-hover-color: var(--bs-primary) !important;
    --bs-btn-hover-border-color: none;
    --bs-btn-active-bg: var(--bs-secondary);
    --bs-btn-active: var(--bs-primary);
    --bs-btn-active-border-color: none;
    box-shadow: 3px -2px 0px 2px var(--bs-secondary);
    border-radius: 10px;
}

.btn-primary {
    --bs-btn-bg: var(--bs-primary) !important;
    --bs-btn-color: var(--bs-secondary);
    --bs-btn-border-color: none !important;
    --bs-btn-hover-bg: var(--bs-secondary) !important;
    --bs-btn-hover-border-color: none;
    --bs-btn-active-bg: var(--bs-secondary);
    --bs-btn-active-color: var(--bs-primary);
    --bs-btn-active-border-color: none;
    box-shadow: 3px -2px 0px 2px var(--bs-secondary);
    border-radius: 10px;
    --bs-btn-focus-shadow-rgb: none;
}

.btn-primary:hover,
.btn-primary:focus-visible  {
    --bs-btn-bg: var(--bs-secondary) !important;
    --bs-btn-border-color: none;
    --bs-btn-color: var(--bs-primary) !important;
    border-radius: 10px;
    box-shadow: 2px -2px 0px 2px var(--bs-primary);
}

.btn.btn-secondary {
    --bs-btn-bg: var(--bs-secondary) !important;
    --bs-btn-border-color: none !important;
    --bs-btn-hover-bg: #ffffff !important;
    --bs-btn-hover-color: var(--bs-secondary);
    --bs-btn-hover-border-color: none;
    --bs-btn-active-bg: #ffffff;
    --bs-btn-active: var(--bs-secondary);
    --bs-btn-active-border-color: none;
    box-shadow: 3px -2px 0px 2px var(--bs-light);
    border-radius: 10px;
}

.btn-secondary {
    --bs-btn-bg: var(--bs-secondary) !important;
    --bs-btn-border-color: none !important;
    --bs-btn-hover-bg: var(--bs-light) !important;
    --bs-btn-hover-border-color: none;
    --bs-btn-active-bg: #ffffff;
    --bs-btn-active-color: var(--bs-secondary);
    --bs-btn-active-border-color: none;
    box-shadow: 3px -2px 0px 2px var(--bs-light);
    border-radius: 10px;
    --bs-btn-focus-shadow-rgb: none;
}

.btn-secondary:hover,
.btn-secondary:focus-visible  {
    --bs-btn-bg: #ffffff !important;
    --bs-btn-border-color: none;
    --bs-btn-color: var(--bs-secondary) !important;
    border-radius: 10px;
    box-shadow: 2px -2px 0px 2px var(--bs-secondary);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%235175ED' stroke-width='5' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
    width: 3rem;
    height: 3rem;
    display: flex;
    margin-bottom: 5.3rem;
    padding-top: 2rem;
    /* float: right !important;
    display: flex;
    justify-content: flex-end; */
}

.btn {
    transition: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
  border: none;
}

.navbar-toggler {
    /* display: flex; */
    /* display: block; */
    /* position: absolute; */
    /* justify-content: flex-end; */
    margin-bottom: 0 !important;
    /* transform: translate(2rem, -8rem); */
}

.offcanvas-backdrop.fade.show {
    background-color: var(--bs-secondary);
    opacity: 1;
    color: #ffffff;
    z-index: 2;
}

#navbarSupportedContent.collapse.navbar-collapse.show {
    color: #ffffff !important;
    z-index: 3;
    /* display: flex !important; */
    width: 100vw !important;
    /* justify-content: center !important;
    margin: 0 auto; */
}

.toggle-off {
    width: 5rem;
    display: flex;
    justify-content: end;
    float: right !important;
    fill: #fff !important;
    stroke-width: 4rem !important;
    transform: translate(-2rem, -5rem);
    cursor: pointer;
    /* margin-bottom: 10rem; */
}

.toggle-off.navbar-toggler {
    display: flex !important;
    justify-content: end !important;
    align-content: end !important;
    flex-direction: column-reverse !important;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
 

.logo {
    padding-right: 0 !important;
    margin-left: 0 !important;
    min-width: 20% !important;
    max-width: 20% !important;
    /* padding-top: 9rem !important; */
}

.container-fluid {
    min-width: 100vw !important;
    --bs-gutter-x: 0;
    /* margin: 0; */
}

.grid {
    flex-direction: row;
}

.display-4 {
    font-weight: 500;
}

.pattern-bg {
    background-image: url("../images/pattern-new-bg.png") !important;
    background-size: cover !important;
    display: block;
    width: 100vw !important;
    height: 100% !important;
}

.cta {
    display: flex;
}

.h2 {
    font-size: 3.5rem !important;
}

.navbar-nav a{
    align-items: center;
    justify-content: center;
    --bs-nav-link-padding-y: 0;
    margin: 0 auto;
    padding: ;
}

.navbar-nav li {
    padding: 2rem;
}

.navbar-nav {
    /* height: 10vh !important; */
}

h1.title.display-2.pt-4 {
    -webkit-text-stroke: 3px black !important;
    color: #ffffff;
}


.navbar {
    display: flex;
    justify-content: center;
    top: 0px;
    padding: 0;
    height: 2rem;
    width: 100vw;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
}

header .navbar .nav-link:hover {
    display: flex;
    font-size: 2.7rem;
    height: 100% !important;
    /* padding: 0.9rem 0; */
    color: #ffffff !important;
    background-color: var(--bs-secondary);
    /* font-weight: 600; */
    /* color: #fff !important; */
    /* text-decoration: underline solid 20%; */
    /* border-bottom: 4px solid #fff; */
    width: fit-content;
    /* transition: all; */
}

@media (max-width: 991px) {
    header .nav-link {
        color: #fff !important;
        font-size: 2rem;
        padding: 2.6rem !important;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
    }

    header .navbar .nav-link:hover {
        letter-spacing: 1rem !important;
        text-decoration: underline solid 20%;
        text-decoration-color: #ffffff !important;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.7rem;
        color: #fff !important;
        /* border-bottom: 4px solid #fff; */
        width: fit-content;
    }
}
  
/* .header .navbar ul {
    list-style: none;
} */
  
/* .header .navbar li a {
    display: block;
    color: #fff;
    text-decoration: none;
    width: 6.5rem;
    margin: 0 auto;
    border-bottom: 2px solid #ffffff;
    transition: all 0.4s;
} */
  
/* .header .navbar li a:hover {
    letter-spacing: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
} */

/* .header .logo-head img {
    display: flex;
    float: left;
} */
  

/* ****** ABOUT PAGE STYLES ****** */

.about-title {
    background-image: url("../images/about-paper.JPG") !important;
    background-size: cover !important;
    display: block;
    width: 100vw !important;
    height: 50vh !important;
}

.about-title.h1 {
    font-size: 7rem;
}

.scrolling-decorative {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    background-color: #f8f9fa;
}

.scrolling-text {
    display: flex;
    width: 200%;
    animation: marquee-scroll 12.5s linear infinite;
}

.scroll-animation {
    flex-shrink: 0;
    min-width: 100%;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: #5175ED; /* Bootstrap secondary color */
    letter-spacing: 2px;
}

@keyframes marquee-scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.taylor {
    background-image: url("../images/sky-about.jpg") !important;
    background-size: cover !important;
    background-repeat: repeat;
    display: flex;
    width: 100vw !important;
    padding-top: 6rem;
    /* height: 100vh !important; */
}

.values {
    padding-left: 4rem;
    padding-bottom: 4rem;
}

.img-wrapper {
    /* background-color: var(--bs-secondary); */
    width: 60%;
    height: 100%;
    position: relative;
    /* display: inline-block; */
    /* width: 10rem; */
}

.img-wrapper::before {
    content: "";
    position: absolute;
    top: -2rem;
    left: 2rem;
    width: 50%;
    height: 100%;
    background-color: #5175ED;
    /* z-index: -1; */
}

.poster {
    background: #5175ED;
    offset: 3rem;
    width: 40vw;
}



/* 48em = 768px */
@media (max-width: 767px) {
    
    /* HEADER */

    header .nav-link {
        display: flex;
        justify-content: center
    }

    .h1 {
        display: flex;
        justify-content: center !important;
    }

    .banner-section {
        display: flex !;
        flex-direction: column !important;
    }

    .contact.h1 {
        display: flex !important;
        margin: 0 auto !important;
        font-size: clamp(1.6rem, 10vw, 5rem) !important;
    }

    .collage.img-fluid {
        display: flex;
        justify-content: center;
    }

    .decorative.h1 {
        visibility: hidden !important;
        display: none !important;
    }

    .row {
        display: flex;
        /* flex-direction: column; */
        --bs-gutter-y: 0;
        margin: 0 auto;
    }

    body {
        width: 100vw !important;
    }

    .navbar {
        display: flex !important;
        justify-content: center !important;
        top: 0px;
        padding: 0;
        height: 1rem !important;
    }


    /* HOME SECTION */

    .cta-text {
        display: grid !important;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .cta-content {
        grid-area: 1 / 1 / 2 / 2;
    }
    
    .pattern-bg {
        grid-area: 2 / 1 / 3 / 2;
        /* height: 50vh !important; */
    }

    /* CONTACT CARDS */
    .polaroid-1, .polaroid-2, .polaroid-3 {
        display: none;
    }

    .card-group {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }


    /* FOOTER */
    .footer-cont {
        background-color: var(--bs-primary) !important;
    }

    .footer-items {
        display: flex !important;
        flex-direction: column;
    }

    .foot-nav {
        gap: 5rem !important;
    }

    .foot-one {
        display: block;
        order: 2;
        padding: 0 !important;
        margin: 0 auto;
        margin-top: 3rem;
    }

    .foot-two {
        order: 3;
        display: block;
        padding: 0 !important;
        margin: 0 auto;
        margin-top: 5rem;
    }


    body > footer > div > div.footer-items.d-flex.justify-content-center.mt-5.mb-5 > img {
        margin: 0 auto !important;
    }

    body > footer > div > div.footer-items.d-flex.justify-content-center.mt-5.mb-5 > img {
        display: flex !important;
        justify-content: center !important;
        width: 50% !important;
    }

    body > footer > div > div.footer-items.d-flex.justify-content-center.mt-5.mb-5 > nav.foot-one.d-flex.align-items-end.flex-shrink-1.pe-3 > ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    body > footer > div > div.footer-items.d-flex.justify-content-center.mt-5.mb-5 > nav.foot-two.d-flex.align-items-end.flex-shrink-1.ps-3 > ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    body > footer > div > div.container-sm.d-flex.justify-content-center.mt-2.pt-5.border-top.border-black.border-1 {
        border-top: none !important;
        gap: 2rem;
        display: flex !important;
        justify-content: space-between !important;
        align-items: center;
        width: 50%;
        /* flex: 0; */
    }

    footer .nav-link {
        text-transform: uppercase;
        font-weight: 600;
        border-bottom: 4px solid black ;
    }

    footer .nav-link:hover {
        
    }

    .linkedin, .instagram, .youtube, .github {
        width: 4rem !important;
        padding: 0 !important;
        gap: 2rem !important;
    }
}



/*  31em =  496px */
@media (max-width: 31em) {

    .collage .img {
        display: inline-block;
        width: 70%;
    }

    
    .home-banner {
        margin-top: 5.3rem !important;
    }

    body {
        width: 100vw !important;
    }
}
  
/* 48em = 768px */
@media (min-width: 48em) {
    /* h1, .h1 {
        -webkit-text-stroke: 7px black !important;
    } */

    .title-repeat {
        /* margin-top: 2rem; */
        display: flex !important;
        justify-content: center;
        gap: 1rem;

    }

    .contact.h1 {
        /* font-size: 3.3rem !important; */
        font-size: clamp(3.3rem, 6vw, 5rem) !important;
        /* font-size: clamp(2rem, calc(2rem + 3vw), 5rem); */
        -webkit-text-stroke: 5px black !important;
    }

    .decorative[aria-hidden="true"] {
        display: flex !important;
        font-size: clamp(3.3rem, 6vw, 5rem) !important;
        /* font-size: 3.3rem !important; */
        -webkit-text-stroke: 5px black !important;
    }

    /* .decorative.h1 {
        display: flex !important;
    } */

    .header {
        display: flex;
        background-color: #fff;
        /* height: 5.6rem; */
        height: fit-content;
        width: 100vw !important;
        /* width: 100%; */
        /* z-index: 3; */
    }

    /* .logo-head img {
        min-width: 14rem;
    } */

    .navbar li a {
        display: flex;
        align-items: flex-end;
        transform: none;
    }


    .navbar {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        align-items: center;
        /* margin-top: 6.8rem; */
        /* background: var(--bs-success); */
        width: 100vw !important;
        height: 2rem;
        box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    }

    .navbar .menu li a {
        color: #000;
        background: var(--bs-success);
        width: 100vw !important;
        display: flex;
        font-size: 1rem;
        font-weight: 500;
        text-transform: none;
        letter-spacing: 0;
        align-items: center;
        justify-content: center;
    }


    .header .navbar li a{
        /* padding: 1rem 1rem; */
        position: relative;
        text-decoration: none;
        /* width: 6.5rem; */
        margin: 0 auto;
        border-bottom: none;
        transition: none;
        /* align-items: end; */
        justify-content: center;
        /* margin-top: 1rem; */
    }

    /* FOOTER */
    footer .nav-links:hover {
        text-transform: uppercase;
    }
    
}    


/* ****** CONTACT PAGE STYLES ****** */

.banner {
    background-color: #000;
    background-image: url("../images/contact-bg.jpg");
    background-size: cover;
    background-repeat: repeat;
    /* display: flex; */
    width: 100vw;
}


/* CONTACT H1 Display Styles */
.contact {
    -webkit-text-fill-color: #ffffff;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.2rem;
    line-height: 1;
    font-size: clamp(2rem, calc(2rem + 3vw), 5rem);
    /* font-size: 5rem; */
    /* font-size: clamp(2rem, 8vw, 5rem); */
    letter-spacing: 4px;
    font-weight: bold;
    text-align: center;
    display: flex;
    text-transform: uppercase;
    flex-wrap: nowrap;
}

.decorative[aria-hidden="true"] {
    color: white;
    -webkit-text-fill-color: #ffffff;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.2rem;
    line-height: 1;
    font-size: clamp(2rem, calc(2rem + 3vw), 5rem);
    letter-spacing: 4px;
    font-weight: bold;
    text-align: center;
    align-items: flex-start;
    visibility: visible;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.heading-container {
    /* justify-content: flex-start; */
    flex-direction: column;
    display: flex;
    align-items: center;
    /* padding-left: 4rem; */
    /* padding-top: 2rem; */
}

.collage .img {
    display: inline-block;
    width: 100%;
}

.banner .row {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    display: flex;
}


/* FORM */
.form-section {
    background-image: url("../images/scribble-contact-bg.svg") !important;
    background-size: cover !important;
    background-position: center;
    background-attachment: local;
    background-repeat: repeat;
    display: flex;
    width: 100vw !important;
    height: 100vh !important;
}

.row {
    --bs-gutter-x: 0 !important;
    /* width: 100%; */
}

.reciept-two {
    transform: translate(-4rem) rotate(20deg);
}


.contact-content {
    position: relative;
    padding-bottom: 5rem;
    height: 100vh !important;
}

.form-bg {
    margin-top: 4rem;
    position: relative;
}


.info-cards {
    /* position: absolute; */
    width: 40vw !important;
    display: flex;
}

.card-group {
    display: flex;
    justify-content: space-between;
    /* padding: 3rem 4rem; */
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    bs-gutter-x: 0 !important;
}

.bi-telephone, .bi-globe2, .bi-send {
    color: var(--bs-primary);
    font-weight: 700;
    font-size: 6rem;
}

.contact-info {
    background-image: url("../images/info-paper-bg.png");
    background-size: cover !important;
    /* background-attachment: local; */
    background-repeat: repeat;
    display: flex !important;
    width: 100vw !important;
    height: fit-content;
}

.reciept-container {
    margin-top: 3rem !important;
}

/* body > main > section.contact-info > div > div.row.pb-5.px-5.d-flex.justify-content-center {
    height: auto;
} */

/* @media screen (min-width: 769px){
    .email, .number, .postal, .city, .street {
        font-size: 1.3rem !important;
    }
} */


/* @media (max-width: 999px) {
    .banner {
        display: flex;
        justify-content: center;
    }
} */

/******* FOOTER STYLES *******/

footer .nav-links:hover {
    text-transform: uppercase !important;
}

/* footer {
    position: relative;
} */


/* footer nav a {
    display: flex;
    justify-content: space-between !important;
} */

/* img.logo-foot{
    display: flex !important;
    justify-content: center !important;
} */

/* .foot-one a,
.foot-two a {
    font-size: calc(1rem + 1vw);
    padding: 0 1rem;
    flex-shrink: 2;
}

@media screen (min-width: 767px) and (max-width: 991px) {
    .foot-one a,
    .foot-two a {
        font-size: calc(1rem + 1vw);
        padding: 0 0.3rem;
        flex-shrink: 2;
    }
}

@media screen (max-width: 766px) {
    .foot-one a,
    .foot-two a {
        font-size: 0.4rem !important;
        padding: 0 0.2rem;
        flex-shrink: 2;
    }
} */


.social-icons {
    /* fill: #5175ed; */
    transition: transform 0.3s ease !important;
}

@keyframes rise {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px) scale(1.1);
        box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.4);
    }
}

.social:hover {
    fill: #000 !important;
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.4);
    border-radius: 50%; 
    animation: rise 0.5s ease forwards;
}