@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');

:root {
    --bs-primary: #CBE7FE;
    --bs-primary-rgb: 203, 231, 254;
    --bs-secondary: #5175ED;
    --bs-secondary-rgb: 81, 117, 237;
    --bs-success: #CBE77E;
    --bs-success-rgb: 203, 231, 126;
    --bs-info: #F1E9E2;
    --bs-info-rgb: 241, 233, 226;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


body {
    font-family: "Mitr", sans-serif;
    font-size: 16px;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}


.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    /* position: absoulte; */
    width: 100vw;
    /* width: 100%; */
    /* z-index: 3; */
}

.navbar {
    display: flex;
    justify-content: center;
    top: 0px;
    padding: 0;
    height: 5rem;
    width: 100vw;
    position: absolute;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
}
  
.header .navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    /* background-color: #fff; */
}
  
.header .navbar li a {
    display: block;
    color: #fff;
    padding-top: 4rem;
    padding-bottom: 1rem;
    /* border-right: 1px solid #f4f4f4; */
    text-decoration: none;
    width: 6.5rem;
    margin: 0 auto;
    border-bottom: 2px solid #ffffff;
    transition: all 0.4s;
}
  



.header .navbar li a:hover {
    letter-spacing: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    /* display: inline-block; */
}


.header .logo-head img {
    display: flex;
    float: left;
}
  
/* menu */
  
.header .navbar .menu {
    clear: both;
    max-height: 0px;
    width: 100vw;
    transition: max-height .2s ease-out;
    /* position: absolute; */
    top: 0;
    z-index: 2;
}

.menu {
    background: var(--bs-secondary);
    display: flex;
    flex-direction: column;
    position: absolute;
    /* width: 100vw; */
}

.navbar a {
    display: flex;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}
  
/* menu icon */
  
.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    margin-top: 10px;
    margin-right: 1.7rem;
    /* z-index: 3; */
}
  
.header .menu-icon .navicon {
    background: var(--bs-secondary);
    display: block;
    height: 5px;
    position: relative;
    transition: background .2s ease-out;
    width: 30px;
    border-radius: 15px;
}
  
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: var(--bs-secondary);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
    z-index: 3;
    border-radius: 15px;
    /* gap: 10px; */
}
  
.header .menu-icon .navicon:before {
    top: 7px;
}
  
.header .menu-icon .navicon:after {
    top: -7px;
}
  
/* menu btn */
  
.header .menu-btn {
    display: none;
}

/* .navbar {
    display: block;
} */
  
.header .menu-btn:checked ~ .navbar .menu {
    max-height: 500px;
    background-color: var(--bs-secondary);
    /* min-width: 100vw; */
    /* position: fixed; */
    top: 0;
    padding-bottom: 3rem;
}


.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}
  
.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
    background: #ffffff;
}
  
.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
    background: #ffffff;
}
  
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* 48em = 768px */

@media (max-width: 48em) {
    .logo-head img {
        width: 13rem;
    }

    .navbar {
        height: 6.5rem;
    }

}

/*  31em =  496px */

@media (max-width: 31em) {
    .logo-head img {
        width: 10rem;
    }

    .navbar {
        height: 5.3rem;
    }

    .collage .img {
        display: inline-block;
        width: 70%;
    }

    /* .contact.h1 {
        font-size: 3rem;
        display: flex;
    } */
}
  
/* 48em = 768px */
  
@media (min-width: 48em) {
    .header {
        display: flex;
        background-color: #fff;
        /* height: 5.6rem; */
        height: fit-content;
        width: 100vw;
        /* width: 100%; */
        /* z-index: 3; */
    }

    .logo-head img {
        min-width: 14rem;
    }

    .header .navbar .menu {
        clear: none;
        /* float: right; */
        max-height: none;
        transition: none;
    }
    .header .menu-icon {
        display: none;
        padding-bottom: 0;
    }

    .navbar li a {
        display: flex;
        align-items: flex-end;
        transform: none;
    }

    .header .navbar li a:hover {
        background-color: #007bff;
        letter-spacing: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        /* display: inline-block; */
    }

    .menu {
        background: var(--bs-success);
        /* text-align: right; */
        display: flex;
        justify-content: end;
        flex-direction: row;
        padding-right: 3rem !important;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        align-items: center;
        margin-top: 6.8rem;
        background: var(--bs-success);
        width: 100%;
        height: 2rem;
        box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    }

    .navbar .menu li a {
        color: #000;
        background: var(--bs-success);
        width: 100%;
        display: flex;
        font-size: 1rem;
        font-weight: 500;
        text-transform: none;
        letter-spacing: 0;
        align-items: center;
        justify-content: center;
    }


    .header .navbar li a{
        padding: 1rem 1rem;
        position: relative;
        text-decoration: none;
        /* width: 6.5rem; */
        margin: 0 auto;
        border-bottom: none;
        transition: none;
        /* align-items: end; */
        justify-content: center;
        /* margin-top: 1rem; */
    }
    
    .header .menu-btn:checked ~ .navbar .menu {
        background: var(--bs-success);
    }

    .banner {
        background-image: url("../images/contact-bg.jpg");
        /* background-size: cover; */
        background-repeat: repeat;
        /* display: flex; */
        width: 100vw;
        /* position: relative; */
        display: flex;
        margin: 0;
        padding-top: 4rem;
        /* padding-left: 1.5rem;
        padding-left: 1.5rem; */
    }

    .collage.col.img {
        display: flex;
        width: 100%;
    }

    .row>* {
        flex-shrink: 0;
        width: 100%;
        /* max-width: 100%; */
        padding-right: 0;
        padding-left: 0;
        margin-top: 0;
    }

}

  
.logo {
    width: 20%;
} 

.logo-foot {
    width: 10%;
}

a {
    text-decoration: none;
}

/* .hero {
    display: flex;
    min-width: 800px;
} */

.hero {
    max-width: 735px;
    height: auto;
    display: block; /* Removes extra spacing under the image */
    object-fit: contain; /* Keeps proportions */
}


.hero-bg {
    /* position: absolute; */
    width: 50%; /* Slightly bigger than the image */
    height: 70%;
    background-color: #007bff; /* Blue */
    z-index: -1; /* Sends it behind the image */
    top: 40px; /* Adjust vertical offset */
    left: -5%; /* Slight horizontal offset */
}

@media (max-width: 768px) {
    .hero {
        max-width: 45%; /* Scale down smoothly instead of switching hard */
    }

    /* .collage.img {
        display: inline-block;
        width: 70%;
    } */

    .h1 {
        display: flex;
        justify-content: center;

    }

    .decorative.h1 {
        visibility: hidden !important;
        display: none !important;
    }

    .row {
        display: flex;
        flex-direction: column;
        --bs-gutter-y: 0;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .hero {
        max-width: 45%; /* Prevents it from being too large */
    }
}

@media (min-width: 1200px) {
    .hero {
        max-width: 45%; /* Fine-tunes for large desktops */
    }
}

/* ****** CONTACT PAGE STYLES ****** */

.banner {
    background-image: url("../images/contact-bg.jpg");
    background-size: cover;
    background-repeat: repeat;
    /* display: flex; */
    width: 100vw;
}


/* CONTACT H1 Display Styles */
.contact {
    -webkit-text-fill-color: #ffffff;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.2rem;
    line-height: 1;
    font-size: clamp(2rem, calc(2rem + 3vw), 5rem);
    /* font-size: 5rem; */
    /* font-size: clamp(2rem, 8vw, 5rem); */
    letter-spacing: 4px;
    font-weight: bold;
    text-align: center;
    display: flex;
    text-transform: uppercase;
    flex-wrap: nowrap;
}

.decorative[aria-hidden="true"] {
    color: white;
    -webkit-text-fill-color: #ffffff;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.2rem;
    line-height: 1;
    font-size: clamp(2rem, calc(2rem + 3vw), 5rem);
    letter-spacing: 4px;
    font-weight: bold;
    text-align: center;
    align-items: flex-start;
    visibility: visible;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.heading-container {
    /* justify-content: flex-start; */
    flex-direction: column;
    display: flex;
    align-items: center;
    /* padding-left: 4rem; */
    /* padding-top: 2rem; */
}

.collage .img {
    display: inline-block;
    width: 100%;
}

.banner .row {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    display: flex;
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    /* max-width: 100%; */
    padding-right: 0;
    padding-left: 0;
    margin-top: 0;
}

@media (max-width: 999px) {
    

    /* .collage.col.img {
        display: flex;
        justify-content: flex-end;
    } */

    .banner {
        display: flex;
        justify-content: center;
    }
}

/*  35em = 570px */
/* @media (min-width: 498px) and (max-width: 767px) {
    .contact.h1 {
        -webkit-text-fill-color: #ffffff;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 3px;
    }
}

@media (max-width: 386px) {
    .contact.h1 {
        line-height: 1;
        font-size: 2.3rem;
        -webkit-text-fill-color: #ffffff;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 2px;
        letter-spacing: 2px;
        margin: 0 auto;
        display: inline-block;
        justify-content: center;
        flex-shrink: inherit;
    }
} */

/******* FOOTER STYLES *******/



.social-icons {
    /* fill: #5175ed; */
    transition: transform 0.3s ease;
}

@keyframes rise {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px) scale(1.1);
        box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.4);
    }
}

svg:hover {
    fill: #000 !important;
    /* filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.4)); */
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.4);
    border-radius: 50%; 
    animation: rise 0.5s ease forwards;
}